@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');

body {
    background-color: #202124;
    font-family: "Montserrat";
}

.main {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 0px auto;
    padding: 0px 0px;
    min-height: 100vh;
}

.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
    align-items: center;
    margin: 10px 0px;
}

.app-title {
    color: white;
    font-size: 2em;
    font-family: "Montserrat";
    font-weight: 400;
    margin: 20px;
}

.body {
    margin: 0 auto;
    flex-grow: 1;
    flex-direction: column;
    display: flex;
    row-gap: 10px;
    margin: 20px 20px;
}

/* @media screen and (max-width: 900px) {
    .body {
        grid-template-columns: repeat(2, minmax(300px, 1fr));
    }
}

@media screen and (max-width: 500px) {
    .body {
        grid-template-columns: repeat(1, minmax(300px, 1fr));
    }
} */