@import "./Style.css";

.edit-panel {
    padding: 15px;
    min-height: 140px;
    flex: 2 1 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    word-wrap: break-word;
}

.edit-panel textarea {
    white-space: pre-wrap;
    color: #fff;
    resize: none;
}

.edit-panel textarea:focus {
    outline: none;
}

.edit-panel textarea::placeholder {
    color: #fff;
}

.edit-panel .title {
    min-height: 50px;
    font-size: 1.8em;
}

.edit-panel .text {
    flex: 1 1 0;
    font-size: 1em;
}

.edit-panel .save {
    background: transparent;
    transition: 0.1s ease-in-out;
    border: 1.5px solid #fff;
    border-radius: 10px;
    color: #fff;
    padding: 4px 10px;
    font-size: 13px;
    cursor: pointer;
}

.edit-panel .save:hover {
    background: #fff;
    border: 1.5px solid #fff;
    color: #4b1589;
}

.edit-panel .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.char-progress {
    background-color: #fff !important;
}