.edit-panel {
    background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(5px);
        box-shadow: inset -6px -4px 2px rgba(255, 255, 255, 0.03);
        border-radius: 15px;
        border: 1.5px solid rgba(255, 255, 255, 0.326);
        color: #fff;
        padding: 15px;
        min-height: 140px;
        flex: 2 1 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        word-wrap: break-word;
    }
.note-preview {
    /* background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    box-shadow: inset -6px -4px 2px rgba(255, 255, 255, 0.03);*/
    border-radius: 15px;
    border: 1.5px solid rgba(255, 255, 255, 0.326);
    color: #fff;
    padding: 15px;
    min-height: 140px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    word-wrap: break-word;
}
.note-preview div {
    font-size: 18px;
    border-radius: 15px;
    border: 1.5px solid rgba(255, 255, 255, 0.326);
    color: #fff;
    padding: 15px;
    min-height: 140px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    word-wrap: break-word;
}

.note-list {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    box-shadow: inset -6px -4px 2px rgba(255, 255, 255, 0.03);
    border-radius: 15px;
    border: 1.5px solid rgba(255, 255, 255, 0.326);
    color: #fff;
    padding: 15px;
    min-height: 140px;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    word-wrap: break-word;
    row-gap: 10px;
    margin: 10px 10px;
}

.edit-panel textarea {
    white-space: pre-wrap;
    background: transparent;
    border-radius: 15px;
    border: 1.5px solid rgba(255, 255, 255, 0.326);
    color: #fff;
    resize: none;
}
.edit-panel textarea:focus {
    outline: none;
}

.edit-panel textarea::placeholder {
    color: #fff;
}
.edit-panel .title {
    min-height: 50px;
    font-size: 1.8em;
}

.edit-panel .text {
    flex: 1 1 0;
        font-size: 18px;
}

.edit-panel .save {
    background: transparent;
    transition: 0.1s ease-in-out;
    border: 1.5px solid #fff;
    border-radius: 10px;
    color: #fff;
    padding: 4px 10px;
    font-size: 13px;
    cursor: pointer;
}

.edit-panel .save:hover {
    background: #fff;
    border: 1.5px solid #fff;
    color: #4b1589;
}

.edit-panel .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.edit-panel .delete {
    cursor: pointer;
}

.edit-panel .delete:hover {
    transform: scale(1.1);
}

.char-progress {
    background-color: #fff !important;
}