@import "./Style.css";

.overflow {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
}

.note-preview {
    padding: 15px;
    min-height: 140px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    word-wrap: break-word;
}

.note-list {
    min-height: 140px;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    word-wrap: break-word;
    row-gap: 10px;
    margin: 10px 10px;
}

.note-preview .title {
    height: 2em;
    font-size: 1.6em;
    justify-content: start;
    word-wrap: break-word;
}

.note-preview .text {
    flex: 1 1 auto;
    font-size: 1em;
    justify-content: start;
    word-wrap: break-word;
}

.note-preview .footer {
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.note-preview .delete {
    cursor: pointer;
}

.note-preview .delete:hover {
    transform: scale(1.1);
}

.note-preview .tag {
    font-size: 1em;
    flex-direction: column;
    justify-content: start;
    word-wrap: break-word;
}